.all {
	font-family: 'Vollkorn', serif;

	color: white;
	

	
}
h1 {
	display: inline-flex;
	background-color: black;
	
	
	
}

h3 {
	text-align: right;
	font-size: 27px;
}


#music {
	
	margin-left: 40px;
	justify-content: flex-end;
	background-color: black;
	border-style: solid;
	border-color: white;
	border-width: 1px;

}

#pause {
	justify-content: flex-end;
	background-color: black;
	border-style: solid;
	border-color: white;
	border-width: 1px;
}
#reset{
	height: 55px;
	width: 85px;
	background-color: black;
	border-style: solid;
	border-color: white;
	border-width: 1px;
	font-size: 18px;

	
}

#header{
	display: flex;
	justify-content: center;
	background-image: url(../images/flag.JPG);
	background-size: cover;
	

	
}

.col-md-9{
	background-image: url(../images/prez.JPG);
	background-size: cover;
	height: 600px;
	
}


.col-md-3 {


	background-image: url(../images/land.JPG);
	background-size: cover;
	background-position: center;
	height: 600px;

	
}

#letter{
	font-size: 25px;
}

#presidents {
	display: flex;
	justify-content: flex-end;
	font-size: 35px;
	
}
#lettersGuessed {
	font-size: 28px;
	margin-bottom: 40px;

}
#guessesLeft {
	
	font-size: 28px;

	
}

input {

	height: 60px;
	width: 60px;
	background-color: black;
	text-align: center;
	
}

/*Body parts*/

#head {
	display: flex;
	justify-content: center;
	font-size: 13em;
	margin-top: 40px;
   color: white;
   opacity: 0;

	
}
#torso {
	font-size: 13em;
	display:flex;
	justify-content: center;
	opacity: 10;
	margin-top: -30px;
	opacity: 0;
	

}
#leftArm {
	color: white;
	display: flex;
	justify-content: flex-start;
	transform: rotate(123deg);
	font-size: 10em;
	margin-top: -190px;
	margin-right: 150px;
	opacity: 0;

}

#rightArm {
	color: white;
	display: flex;
	justify-content: flex-start;
	transform: rotate(246deg);
	font-size: 10em;
	margin-top: -260px;
	margin-left: 23px;
	opacity: 0;
}

#leftLeg {
	color: white;
	display: flex;
	justify-content: flex-start;
	transform: rotate(46deg);
	font-size: 10em;
	margin-top: 190px;
	margin-left: 55px;
	opacity: 0;


}

#rightLeg {
	color: white;
	display: flex;
	
	transform: rotate(314deg);
	font-size: 10em;
	margin-top: -220px;
	margin-left: 142px;
	opacity: 0;

}
/*
Different media screens*/

@media screen and (max-width: 480px) {
     #head {
	display: flex;
	justify-content: center;
	font-size: 13em;
	margin-top: 0px;
   color: white;
   opacity: 0;

	
}
#torso {
	font-size: 13em;
	display:flex;
	justify-content: center;
	opacity: 10;
	margin-top: -20px;
	opacity: 0;
	

}
#leftArm {
	color: white;
	display: flex;
	justify-content: flex-start;
	transform: rotate(123deg);
	font-size: 10em;
	margin-top: -190px;
	margin-right: 200px;
	opacity: 0;

}

#rightArm {
	color: white;
	display: flex;
	justify-content: flex-start;
	transform: rotate(246deg);
	font-size: 10em;
	margin-top: -315px;
	margin-left: 3px;
	opacity: 0;
}

#leftLeg {
	color: white;
	display: flex;
	justify-content: flex-start;
	transform: rotate(46deg);
	font-size: 10em;
	margin-top: 285px;
	margin-left: 75px;
	opacity: 0;


}

#rightLeg {
	color: white;
	display: flex;
	
	transform: rotate(314deg);
	font-size: 10em;
	margin-top: -280px;
	margin-left: 182px;
	opacity: 0;

}
}
